Assets/StreamingAssets/Cutscene.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="Cutscene-flag.xsd" />
    <xs:include schemaLocation="Cutscene-sfx.xsd" />
    <xs:include schemaLocation="Cutscene-objective.xsd" />
    <xs:include schemaLocation="Cutscene-trophy.xsd" />
    <xs:include schemaLocation="Cutscene-anim-param.xsd" />
    <xs:simpleType name="variable">
        <xs:restriction base="xs:string">
            <xs:pattern value="$\{.+\}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="int-or-variable">
        <xs:restriction base="xs:string">
            <xs:pattern value="((\d+(\.\d+){0,1})|($\{.+\}))"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="dialogStyle">
        <xs:restriction base="xs:string">
            <xs:enumeration value="whisper"/>
            <xs:enumeration value="whisper-subjective"/>
            <xs:enumeration value="remote"/>
            <xs:enumeration value="remote-subjective"/>
            <xs:enumeration value="default"/>
            <xs:enumeration value="subjective"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="fadeToBlackMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="none"/>
            <xs:enumeration value="to"/>
            <xs:enumeration value="from" />
            <xs:enumeration value="to-from" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="prefab">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FlagGauge" />
            <xs:enumeration value="LockPick" />
            <xs:enumeration value="ItemDetector" />
            <xs:enumeration value="SmoothTalk" />
            <xs:enumeration value="ModelViewer" />
            <xs:enumeration value="PictureTaker" />
            <xs:enumeration value="PictureViewer"/>
            <xs:enumeration value="CinemachineImpulseGenerator"/>
            <xs:enumeration value="TensionChoice"/>
            <xs:enumeration value="TimelineUI"/>
            <xs:enumeration value="VideoRecorder"/>
            <xs:enumeration value="SimpleMessage"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="cutscene-outcome">
        <xs:restriction base="xs:string">
            <xs:enumeration value="_destroyObject"/>
            <xs:enumeration value="_destroyParent"/>
            <xs:enumeration value="_end"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="bone">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Root" />
            <xs:enumeration value="Hips" />
            <xs:enumeration value="Spine" />
            <xs:enumeration value="Spine1" />
            <xs:enumeration value="Spine2" />
            <xs:enumeration value="Neck" />
            <xs:enumeration value="Head" />
            <xs:enumeration value="DownLip" />
            <xs:enumeration value="LeftEye" />
            <xs:enumeration value="RightEye" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="text-data">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TXT_ARG_0" />
            <xs:enumeration value="TXT_ARG_1" />
            <xs:enumeration value="TXT_ARG_2" />
            <xs:enumeration value="TXT_ARG_3" />
            <xs:enumeration value="TXT_ARG_4" />
            <xs:enumeration value="TXT_TMP_0" />
            <xs:enumeration value="TXT_TMP_1" />
            <xs:enumeration value="KATE_HALLWAY_PICTURE" />
            <xs:enumeration value="PARAM_FILE_FOLDER" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="perk">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRK_SMELLY" />
            <xs:enumeration value="PRK_SMOOTH_TALKER" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="studio-token-category">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BASIC" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="choiceIcon">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DICK_INTELLIGENCE" />
            <xs:enumeration value="DICK_CHARISMA" />
            <xs:enumeration value="DICK_DARING" />
            <xs:enumeration value="DICK_KARMA_GOOD" />
            <xs:enumeration value="DICK_KARMA_EVIL" />
            <xs:enumeration value="SMOOTH_TALK" />
            <xs:enumeration value="AXIS_INTERACTION" />
            <xs:enumeration value="AXIS_INTERACTION_HEART" />
            <xs:enumeration value="ITM_JOINT" />
            <xs:enumeration value="ITM_MONEY" />
            <xs:enumeration value="STAT_AFFINITY" />
            <xs:enumeration value="STAT_CORRUPTION" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="character-stat">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AFFINITY" />
            <xs:enumeration value="INTEL" />
            <xs:enumeration value="INTEL_0" />
            <xs:enumeration value="INTEL_1" />
            <xs:enumeration value="INTEL_2" />
            <xs:enumeration value="INTEL_3" />
            <xs:enumeration value="INTEL_4" />
            <xs:enumeration value="INTEL_5" />
            <xs:enumeration value="INTEL_6" />
            <xs:enumeration value="INTEL_7" />
            <xs:enumeration value="INTEL_8" />
            <xs:enumeration value="INTEL_9" />
            <xs:enumeration value="CORRUPTION" />
            <xs:enumeration value="VICTORIA_LOYALTY" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="item">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ITM_BRACELET" />
            <xs:enumeration value="ITM_BROOKE_MEMORY_CARD" />
            <xs:enumeration value="ITM_JOINT" />
            <xs:enumeration value="ITM_LOCKER_KEY" />
            <xs:enumeration value="ITM_LOCKPICK" />
            <xs:enumeration value="ITM_MONEY" />
            <xs:enumeration value="ITM_TREASURE_DETECTOR" />
            <xs:enumeration value="ITM_TRASH" />
            <xs:enumeration value="ITM_VIP_LIST" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="character">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CH_Brooke" />
            <xs:enumeration value="CH_Chloe" />
            <xs:enumeration value="CH_Courtney" />
            <xs:enumeration value="CH_Daniel" />
            <xs:enumeration value="CH_Joyce" />
            <xs:enumeration value="CH_Kate" />
            <xs:enumeration value="CH_Jefferson" />
            <xs:enumeration value="CH_Juliet" />
            <xs:enumeration value="CH_Justin" />
            <xs:enumeration value="CH_Max" />
            <xs:enumeration value="CH_Player" />
            <xs:enumeration value="CH_Principal" />
            <xs:enumeration value="CH_Victoria" />
            <xs:enumeration value="CH_Samuel" />
            <xs:enumeration value="CH_Taylor" />
            <xs:enumeration value="CH_Warren" />
            <xs:enumeration value="CH_Zachary" />
            <xs:enumeration value="THE_ARCHITECT" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="check-flag-type">
        <xs:attribute name="flag" type="flag" use="required" />
        <xs:attribute name="eq" type="xs:integer" use="optional" />
        <xs:attribute name="eq-str" type="xs:string" use="optional" />
        <xs:attribute name="gte" type="xs:integer" use="optional" />
        <xs:attribute name="lte" type="xs:integer" use="optional" />
        <xs:attribute name="mod" type="xs:integer" use="optional" />
        <xs:attribute name="bit-set" type="xs:unsignedByte" use="optional" />
        <xs:attribute name="bit-unset" type="xs:unsignedByte" use="optional" />
        <xs:attribute name="inverse" type="xs:boolean" use="optional" />
    </xs:complexType>
    <xs:complexType name="check-text-type">
        <xs:attribute name="text" type="text-data" use="required" />
        <xs:attribute name="ref" type="xs:boolean" use="optional" />
        <xs:attribute name="eq" type="xs:string" use="optional" />
        <xs:attribute name="neq" type="xs:string" use="optional" />
        <xs:attribute name="match" type="xs:string" use="optional" />
        <xs:attribute name="inverse" type="xs:boolean" use="optional" />
    </xs:complexType>
    <xs:complexType name="check-item-type">
        <xs:attribute name="item" type="item" use="required" />
        <xs:attribute name="eq" type="xs:integer" use="optional" />
        <xs:attribute name="gte" type="int-or-variable" use="optional" />
        <xs:attribute name="lte" type="xs:integer" use="optional" />
        <xs:attribute name="inverse" type="xs:boolean" use="optional" />
    </xs:complexType>
    <xs:complexType name="check-stat-type">
        <xs:attribute name="char" type="character" use="required" />
        <xs:attribute name="stat" type="character-stat" use="required" />
        <xs:attribute name="eq" type="xs:integer" use="optional" />
        <xs:attribute name="gte" type="xs:integer" use="optional" />
        <xs:attribute name="lte" type="xs:integer" use="optional" />
        <xs:attribute name="inverse" type="xs:boolean" use="optional" />
    </xs:complexType>
    <xs:complexType name="check-perk-type">
        <xs:attribute name="perk" type="perk" use="required" />
        <xs:attribute name="inverse" type="xs:boolean" use="optional" />
    </xs:complexType>
    <xs:complexType name="check-group-type">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="check-flag" minOccurs="0" type="check-flag-type" />
            <xs:element name="check-text" minOccurs="0" type="check-text-type" />
            <xs:element name="check-perk" minOccurs="0" type="check-perk-type" />
            <xs:element name="check-item" minOccurs="0" type="check-item-type" />
            <xs:element name="check-stat" minOccurs="0" type="check-stat-type" />
            <xs:element name="check-group" minOccurs="0" type="check-group-type" />
        </xs:choice>
        <xs:attribute name="op" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="AND"/>
                    <xs:enumeration value="OR"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="nType">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="nop">
                <xs:complexType></xs:complexType>
            </xs:element>
            <xs:element name="prefab">
                <xs:complexType>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:element name="message">
                            <xs:complexType>
                                <xs:attribute name="name" type="xs:string" />
                                <xs:attribute name="string" type="xs:string" />
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="outcome">
                            <xs:complexType>
                                <xs:attribute name="name" type="xs:string" use="optional" />
                                <xs:attribute name="output" type="xs:string"  use="required" />
                                <xs:attribute name="store" type="text-data"  use="optional" />
                                <xs:attribute name="clear" type="xs:boolean"   use="optional"/>
                                <xs:attribute name="destroy" type="xs:integer"  use="optional" />
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                    <xs:attribute name="name" type="prefab" use="optional" />
                    <xs:attribute name="resource" type="xs:string" use="optional" />
                    <xs:attribute name="parent" type="xs:string" use="optional" />
                    <xs:attribute name="world-position-stays" type="xs:boolean" use="optional" />
                    <xs:attribute name="target" type="xs:string" use="optional" />
                    <xs:attribute name="destroy" type="xs:string" use="optional" />
                </xs:complexType>
            </xs:element>
            <xs:element name="flag">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="name" type="flag" use="optional" />
                            <xs:attribute name="ref" type="text-data" use="optional" />
                            <xs:attribute name="inc" type="xs:string" use="optional" />
                            <xs:attribute name="set" type="xs:string" use="optional" />
                            <xs:attribute name="random-max" type="xs:string" use="optional" />
                            <xs:attribute name="bit-set" type="xs:string" use="optional" />
                            <xs:attribute name="bit-unset" type="xs:string" use="optional" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="text">
                <xs:complexType>
                    <xs:attribute name="name" type="text-data" use="required" />
                    <xs:attribute name="ref" type="xs:boolean" use="optional" />
                    <xs:attribute name="set" type="xs:string" />
                </xs:complexType>
            </xs:element>
            <xs:element name="trophy">
                <xs:complexType>
                    <xs:attribute name="unlock" type="trophy" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="studio-token">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="char" type="character" use="required" />
                            <xs:attribute name="category" type="studio-token-category" use="required" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="walker">
                <xs:complexType>
                    <xs:attribute name="target" type="xs:string" use="required" />
                    <xs:attribute name="destination" type="xs:string" />
                </xs:complexType>
            </xs:element>
            <xs:element name="item">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="name" type="item" use="optional" />
                            <xs:attribute name="var" type="variable" use="optional" />
                            <xs:attribute name="inc" type="xs:string" use="optional" />
                            <xs:attribute name="dec" type="xs:string" use="optional" />
                            <xs:attribute name="set" type="xs:string" use="optional" />
                            <xs:attribute name="icon" type="xs:boolean" use="optional" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="objective">
                <xs:complexType>
                    <xs:attribute name="name" type="objective" use="required" />
                    <xs:attribute name="completed" type="xs:boolean" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="wait">
                <xs:complexType>
                    <xs:attribute name="time" type="xs:decimal" use="required" />
                    <xs:attribute name="rnd" type="xs:decimal" use="optional" />
                </xs:complexType>
            </xs:element>
            <xs:element name="anim">
                <xs:complexType>
                    <xs:attribute name="target" type="xs:string" />
                    <xs:attribute name="context" type="xs:string" />
                    <xs:attribute name="trigger" type="xs:string" />
                    <xs:attribute name="idle" type="idle" />
                    <xs:attribute name="expression" type="expression" />
                    <xs:attribute name="react" type="react" />
                    <xs:attribute name="blink" type="blink" />
                    <xs:attribute name="int" type="xs:string" />
                    <xs:attribute name="intValue" type="xs:string" />
                    <xs:attribute name="float" type="xs:string" />
                    <xs:attribute name="floatValue" type="xs:string" />
                    <xs:attribute name="bool" type="xs:string" />
                    <xs:attribute name="boolValue" type="xs:boolean" />
                </xs:complexType>
            </xs:element>
            <xs:element name="sys" type="xs:string" />
            <xs:element name="dlg">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded" minOccurs="1">
                        <xs:element name="m">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="wait" type="xs:decimal" />
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="char" type="character" />
                    <xs:attribute name="char-transform" type="xs:string" />
                    <xs:attribute name="track" type="bone" />
                    <xs:attribute name="jawAnim" type="xs:boolean" />
                    <xs:attribute name="style" type="dialogStyle" />
                    <xs:attribute name="timed" type="xs:decimal" />
                    <xs:attribute name="neutral-expression" type="xs:boolean" />
                </xs:complexType>
            </xs:element>
            <xs:element name="if">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="check-flag" minOccurs="0" type="check-flag-type" />
                            <xs:element name="check-text" minOccurs="0" type="check-text-type" />
                            <xs:element name="check-perk" minOccurs="0" type="check-perk-type" />
                            <xs:element name="check-item" minOccurs="0" type="check-item-type" />
                            <xs:element name="check-stat" minOccurs="0" type="check-stat-type" />
                            <xs:element name="check-group" minOccurs="0" type="check-group-type"  />
                        </xs:choice>
                        <xs:element name="then" minOccurs="1" maxOccurs="1" type="nType" />
                        <xs:element name="else" minOccurs="0" maxOccurs="1" type="nType" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="choice">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="c">
                            <xs:complexType>
                                <xs:choice maxOccurs="unbounded">
                                    <xs:element name="check-flag" type="check-flag-type" minOccurs="0" maxOccurs="unbounded" />
                                    <xs:element name="check-perk" type="check-perk-type" minOccurs="0" maxOccurs="unbounded" />
                                    <xs:element name="check-item" type="check-item-type" minOccurs="0" maxOccurs="unbounded" />
                                    <xs:element name="check-stat" type="check-stat-type" minOccurs="0" maxOccurs="unbounded" />
                                    <xs:element name="check-group" type="check-group-type" minOccurs="0" maxOccurs="unbounded" />
                                    <xs:element name="text" type="xs:string" minOccurs="1" maxOccurs="1" />
                                    <xs:element name="lock-reason" type="xs:string" minOccurs="0" maxOccurs="1" />
                                    <xs:element name="then" type="nType" minOccurs="0" maxOccurs="1" />
                                </xs:choice>
                                <xs:attribute name="out" type="xs:string" use="required" />
                                <xs:attribute name="icon" type="choiceIcon" />
                                <xs:attribute name="icon-text" type="xs:string" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="help" type="xs:boolean" />
                    <xs:attribute name="shuffled" type="xs:boolean" />
                </xs:complexType>
            </xs:element>
            <xs:element name="pick-text">
                <xs:complexType>
                    <xs:choice maxOccurs="unbounded" >
                        <xs:element name="flag" maxOccurs="1">
                            <xs:complexType>
                                <xs:attribute name="name" type="flag" use="required" />
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="t" minOccurs="0">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string" />
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                    <xs:attribute name="text" type="text-data" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="switch-text">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="case">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="eq" type="xs:string" use="required" />
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="check" type="xs:string" use="required" />
                    <xs:attribute name="text" type="text-data" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="stat">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="char" type="character" use="required" />
                            <xs:attribute name="name" type="character-stat" use="required" />
                            <xs:attribute name="set" type="xs:decimal" use="optional" />
                            <xs:attribute name="inc" type="xs:decimal" use="optional" />
                            <xs:attribute name="notify" type="xs:boolean" use="optional" />
                            <xs:attribute name="clamp-a" type="xs:integer" use="optional" />
                            <xs:attribute name="clamp-b" type="xs:integer" use="optional" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="rig-track">
                <xs:complexType>
                    <xs:attribute name="of" type="character" use="required" />
                    <xs:attribute name="target" type="xs:string" />
                    <xs:attribute name="target-transition-speed" type="xs:decimal" />
                    <xs:attribute name="eye" type="xs:decimal"  />
                    <xs:attribute name="head" type="xs:decimal"  />
                    <xs:attribute name="root" type="xs:decimal"  />
                </xs:complexType>
            </xs:element>
            <xs:element name="obj">
                <xs:complexType>
                    <xs:attribute name="name" type="xs:string" use="required" />
                    <xs:attribute name="message" type="xs:string" />
                    <xs:attribute name="destroy" type="xs:decimal" />
                    <xs:attribute name="active" type="xs:boolean" />
                </xs:complexType>
            </xs:element>
            <xs:element name="console" type="xs:string" />
            <xs:element name="fade-to-black">
                <xs:complexType>
                    <xs:attribute name="speed" type="xs:string"  use="optional" />
                    <xs:attribute name="time" type="xs:decimal" use="optional" />
                    <xs:attribute name="mode" type="fadeToBlackMode" use="optional" />
                    <xs:attribute name="keep" type="xs:boolean" use="optional" />
                    <xs:attribute name="layer" type="xs:integer" use="optional" />
                </xs:complexType>
            </xs:element>
            <xs:element name="autosave">
                <xs:complexType>
                    <xs:attribute name="label" type="xs:string" use="optional" />
                </xs:complexType>
            </xs:element>
            <xs:element name="load">
                <xs:complexType>
                    <xs:attribute name="stage" type="xs:string" use="required" />
                    <xs:attribute name="spawn" type="xs:string" use="optional" />
                </xs:complexType>
            </xs:element>
            <xs:element name="cutscene-outcome">
                <xs:complexType>
                    <xs:attribute name="value" type="cutscene-outcome" use="optional" />
                </xs:complexType>
            </xs:element>
            <xs:element name="node-output">
                <xs:complexType>
                    <xs:attribute name="node" type="xs:string" use="optional" />
                </xs:complexType>
            </xs:element>
            <xs:element name="inject">
                <xs:complexType>
                    <xs:attribute name="node" type="xs:string" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="sfx">
                <xs:complexType>
                    <xs:attribute name="clip" type="sfx-clip" use="required" />
                    <xs:attribute name="wait" type="xs:boolean" />
                </xs:complexType>
            </xs:element>
            <xs:element name="bgm">
                <xs:complexType>
                    <xs:attribute name="on-root" type="xs:boolean" use="optional"  />
                    <xs:attribute name="loop" use="optional"  />
                    <xs:attribute name="name" use="optional"  />
                    <xs:attribute name="volume" type="xs:decimal" use="optional"  />
                    <xs:attribute name="fade-speed" type="xs:decimal" use="optional"  />
                </xs:complexType>
            </xs:element>
        </xs:choice>
        <xs:attribute name="id" type="xs:string" use="optional" />
        <xs:attribute name="out" type="xs:string" use="optional" />
    </xs:complexType>

    <xs:element name="cutscene">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="include" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="node-prefix" type="xs:string" use="required" />
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="nodes">
                    <xs:complexType>
                        <xs:sequence maxOccurs="unbounded">
                            <xs:element name="n" type="nType" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>